.contact-title {
	margin-top: 3vh;
}

form div{
	font-size: 5vh;
}

form div div div input, #frmMessageA {
	background: none;
	border: 0.5vh var(--coding-color-dark) solid;
}

form div div div input:focus, #frmMessageA:focus {
	outline: none;
}

#frmNameA, #frmEmailA, #frmPhoneNumA {
	border-bottom: 0;
}

#frmNameA:valid, #frmEmailA:valid, #frmPhoneNumA:valid {
	border-bottom: 0;
}

#frmNameA:-webkit-autofill,
#frmNameA:-webkit-autofill:hover, 
#frmNameA:-webkit-autofill:focus, 
#frmNameA:-webkit-autofill:active,
#frmEmailA:-webkit-autofill,
#frmEmailA:-webkit-autofill:hover, 
#frmEmailA:-webkit-autofill:focus, 
#frmEmailA:-webkit-autofill:active, 
#frmPhoneNumA:-webkit-autofill,
#frmPhoneNumA:-webkit-autofill:hover, 
#frmPhoneNumA:-webkit-autofill:focus, 
#frmPhoneNumA:-webkit-autofill:active  {
		-webkit-text-fill-color: var(--coding-color-dark) !important;
		transition: background-color 5000s;
}

#frmMessageA {
	font-size: 3vh;
	width: 87.65vh;
	height: 20vh;
	text-align: left;
	resize: none;
}

input[type=submit] {
	background: none;
	border: 0.5vh var(--coding-color-dark) solid;
	border-radius: 2vh;
	width: 30vh;
	font-size: 6vh;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
	color: var(--coding-color-dark);
}

input[type=submit]:hover {
	text-shadow: var(--coding-text-shadow);
	padding-top: 0vh;
	padding-bottom: 1vh;
}