/*! NAV !*/

navbar-wrapper {
	top: 0px;
	z-index: 99999;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0px 100px 0px 100px;
	align-items: center;
	background-color: transparent;
	height: 80px;
	width: 100vw;
	transition-duration: 0.3s;
	margin-bottom: 85px;
}

.nav-set {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.nav-links li {
	display: inline;
	list-style-type: none;
	padding: 5px 15px 5px 15px;
}

.nav-links a {
	color: white;
	transition-duration: 0.3s;
}

.logo {
	padding: 5px;
	width: 200px;
}

.logo > a {
	height: auto;
	width: 45px !important;
}

#nav-logo {
	height: auto;
	width: 45px !important;
	transition: all 0.15s ease-in-out;
}

#nav-logo:hover {
}

/*! NAV END!*/

.nav {
	display: block;
}

#nav-mobile, .nav-item {
	display: none;
}

#nav-mobile a div{
	font-size: 5vh;
	text-align: right;
}

#nav-mobile a {
	border: 0.5vh solid var(--coding-color-dark);
	border-bottom: 0;
}

.nav a {
	border: 0.5vh solid var(--coding-color-dark);
	border-bottom: 0;
}

.nav a:nth-child(1){
	border-top: 0;
}

.nav a div{
	font-size: 8vh;
	text-align: right;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	padding-right: 3vh;
}

.nav div div {
	border: 0.5vh solid var(--coding-color-dark);
	border-bottom: 0;
}

.nav div div a {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	padding-top: 10vh;
	margin-bottom: 1vh;
	font-size: 10vh;
	padding-left: 0.5vh;
	padding-right: 0.5vh;
	border: 0;
}

.nav a div:before, .nav a div:after{
  content: "";
  position: absolute;
  bottom: 1vh;
  width: 0px;
  height: 5px;
	margin: 5px 0 0;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;

  opacity: 0;
  background-color: var(--coding-color-dark);
}

.nav a div:before {
  left: 0;
}
.nav a div:after {
  right: 0;
}

.nav a:hover div:before, .nav a:hover div:after {
	width: 100%;
  opacity: 1;
}

.nav a:hover div:before, .nav a:hover div:after {
	width: 50%;
}

.nav a:hover div:after {
  right: 0;
}

.nav div div a{
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
}

.nav div div a:hover {
	text-shadow: var(--coding-text-shadow);
}

.nav-tel div a h3{
	font-size: 4vh;
	display: inline;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.nav-tel div a i{
	font-size: 4vh;
	display: inline;
	margin-right: 1vh;
	text-shadow: none;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.nav-tel div a i:hover, .nav-tel div:hover .nav-tel div i {
	text-shadow: var(--coding-text-shadow);
}