footer-wrapper {
	background-color: var(--violet-dark);
	width: 100%;
	height: auto;
	display: block;
}

.socials {
	margin-top: 25px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	justify-content: space-around;
	gap: 25px;
}

.socials > a {
	font-size: 40px;
}

.socials > a span {
	transition-duration: 0.3s;
}

.socials > a:hover:nth-child(1) span {
	color: #4267B2;
}

.socials > a:hover:nth-child(2) span {
	color: #e4405f;
}

.socials > a:hover:nth-child(3) span {
	color: #55acee;
}

.nobody-cares {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	gap: 15px;
	align-items: center;
	margin-top: 50px;
}
.nobody-cares > a {
	color: var(--text-gray);
	text-decoration: none;
	margin: 10px 10px 30px;
	font-size: 14px;
	transition: all 0.3s ease;
}
.nobody-cares > a:hover {
	color: white !important;
}