/*! NAV !*/

navbar-wrapper {
	top: 0px;
	z-index: 99999;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0px 100px 0px 100px;
	align-items: center;
	background-color: transparent;
	height: 80px;
	width: 100vw;
	transition-duration: 0.3s;
	margin-bottom: 85px;
}

.nav-set {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.nav-links li {
	display: inline;
	list-style-type: none;
	padding: 5px 15px 5px 15px;
}

.nav-links a {
	color: white;
	transition-duration: 0.3s;
}

.logo {
	padding: 5px;
	width: 200px;
}

.logo > a {
	height: auto;
	width: 45px !important;
}

#nav-logo {
	height: auto;
	width: 45px !important;
	transition: all 0.15s ease-in-out;
}

#nav-logo:hover {
}

/*! NAV END!*/